{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}

{% block extra_head %}
{% endblock %}

{% block content %}
  <div id="floating-panel">
    <input id="address" type="textbox" value="Sydney, NSW">
    <input id="submit" type="button" value="Find">
  </div>
  <div id="map"></div>
{% endblock %}

{% block extra_body_js %}
  <script src="{% static 'maps/js/init_map.js' %}"></script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLXvB6VRxzCCIfqxLaCxRRFVFsolCWcbw&callback=initMap">
  </script>
{% endblock %}