{% extends "base.html" %}

{% load staticfiles %}
{% load compress %}

{% block extra_head %}
{% endblock %}

{% block content %}
  <div class="row map">
    <div id="map_container" class="col-xs-12 col-sm-9 map"> 
      <div id="map" class="map"></div>
    </div>
    <div id="map_controllers" class="col-xs-12 col-sm-3">
      <div class="form-inline">
        
        <div id="address-search-panel" class="form-group">
          <input id="address" type="textbox" class="form-control" placeholder="Type place to geolocate">
          <input id="submit" type="button" value="Find" class="btn btn-default">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_body_js %}
  <script src="{% static 'maps/js/init_map.js' %}"></script>

{% endblock %}